examples/WCFLesson04/WcfTestClient/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://itstep.dp.ua/TestWCF" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfMsgLog" />
  <xs:element name="GetSimpleData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimpleDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSimpleDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExtData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://itstep.dp.ua/TestWCF" minOccurs="0" name="composite" nillable="true" type="q1:ExtentionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExtDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://itstep.dp.ua/TestWCF" minOccurs="0" name="GetExtDataResult" nillable="true" type="q2:ExtentionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdditionalDAta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfMsgLog" minOccurs="0" name="composite" nillable="true" type="q3:ExtType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdditionalDAtaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfMsgLog" minOccurs="0" name="GetAdditionalDAtaResult" nillable="true" type="q4:ExtType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>