HomeworkExamples/TestingSystem_Chesnokov/TestingSystemClient/Connected Services/TestingSystemServiceReference/TestingSystemService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TestingSystemService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TestingSystemService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Group" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="Test">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberMinutesToPassTest" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfQuestions" type="xs:int" />
      <xs:element minOccurs="0" name="Questions" nillable="true" type="tns:ArrayOfQuestion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Test" nillable="true" type="tns:Test" />
  <xs:complexType name="ArrayOfQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Question" nillable="true" type="tns:Question" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestion" nillable="true" type="tns:ArrayOfQuestion" />
  <xs:complexType name="Question">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Question" nillable="true" type="tns:Question" />
  <xs:complexType name="TestResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Questions" nillable="true" type="tns:ArrayOfQuestionWithAnswer" />
      <xs:element minOccurs="0" name="Rating" type="xs:int" />
      <xs:element minOccurs="0" name="Test" nillable="true" type="tns:Test" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestResult" nillable="true" type="tns:TestResult" />
  <xs:complexType name="ArrayOfQuestionWithAnswer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuestionWithAnswer" nillable="true" type="tns:QuestionWithAnswer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestionWithAnswer" nillable="true" type="tns:ArrayOfQuestionWithAnswer" />
  <xs:complexType name="QuestionWithAnswer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdentifierdInTest" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuestionWithAnswer" nillable="true" type="tns:QuestionWithAnswer" />
  <xs:complexType name="ArrayOfTestResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TestResult" nillable="true" type="tns:TestResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTestResult" nillable="true" type="tns:ArrayOfTestResult" />
</xs:schema>