HomeworkExamples/FileTransfer_Update_Chesnokov/FileTransferClient/Connected Services/FileTransferServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/FileTransferService" />
  <xs:element name="Upload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FileTransferService" minOccurs="0" name="file" nillable="true" type="q1:FileDataUpload" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Download">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FileTransferService" minOccurs="0" name="fileInfoEx" nillable="true" type="q2:FileInfoEx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FileTransferService" minOccurs="0" name="DownloadResult" nillable="true" type="q3:FileDataDownload" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FileTransferService" minOccurs="0" name="type" type="q4:FileListType" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FileTransferService" minOccurs="0" name="GetListFilesResult" nillable="true" type="q5:ArrayOfFileInfoEx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Remove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/FileTransferService" minOccurs="0" name="fileInfoEx" nillable="true" type="q6:FileInfoEx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>