examples/WCFLesson02/Client/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DataContractService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceShop_AddCommoity_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCommoity" />
  </wsdl:message>
  <wsdl:message name="IServiceShop_AddCommoity_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCommoityResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceShop_GetCommodity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommodity" />
  </wsdl:message>
  <wsdl:message name="IServiceShop_GetCommodity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommodityResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceShop">
    <wsdl:operation name="AddCommoity">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceShop/AddCommoity" message="tns:IServiceShop_AddCommoity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceShop/AddCommoityResponse" message="tns:IServiceShop_AddCommoity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommodity">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceShop/GetCommodity" message="tns:IServiceShop_GetCommodity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceShop/GetCommodityResponse" message="tns:IServiceShop_GetCommodity_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceShop" type="tns:IServiceShop">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCommoity">
      <soap:operation soapAction="http://tempuri.org/IServiceShop/AddCommoity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommodity">
      <soap:operation soapAction="http://tempuri.org/IServiceShop/GetCommodity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IServiceShop" binding="tns:BasicHttpBinding_IServiceShop">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/DataContractService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>