HomeworkExamples/EmployeeManager/EmployeeManagerApp/Connected Services/EmployeeServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Host" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Host" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Gender" type="tns:Gender" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="tns:EmployeeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:simpleType name="Gender">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Male" />
      <xs:enumeration value="Female" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Gender" nillable="true" type="tns:Gender" />
  <xs:simpleType name="EmployeeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FullTimeEmployee" />
      <xs:enumeration value="PartTimeEmployee" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EmployeeType" nillable="true" type="tns:EmployeeType" />
  <xs:complexType name="FullTimeEmployee">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Employee">
        <xs:sequence>
          <xs:element minOccurs="0" name="MonthSallary" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FullTimeEmployee" nillable="true" type="tns:FullTimeEmployee" />
  <xs:complexType name="PartTimeEmployee">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Employee">
        <xs:sequence>
          <xs:element minOccurs="0" name="HourlyPay" type="xs:decimal" />
          <xs:element minOccurs="0" name="HoursWorked" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PartTimeEmployee" nillable="true" type="tns:PartTimeEmployee" />
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee" />
</xs:schema>