HomeworkExamples/EmployeeManager/EmployeeManagerApp/Connected Services/EmployeeServiceReference/ManagerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ManagerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Host/ManagerService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Host/ManagerService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Host/ManagerService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Host" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IManagerService_GetFullTimeEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFullTimeEmployee" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetFullTimeEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFullTimeEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetPartTimeEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPartTimeEmployee" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetPartTimeEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPartTimeEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetAllEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployees" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetAllEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_AddEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployee" />
  </wsdl:message>
  <wsdl:message name="IManagerService_AddEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_RemoveEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveEmployee" />
  </wsdl:message>
  <wsdl:message name="IManagerService_RemoveEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_UpdateEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployee" />
  </wsdl:message>
  <wsdl:message name="IManagerService_UpdateEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployeeResponse" />
  </wsdl:message>
  <wsdl:portType name="IManagerService">
    <wsdl:operation name="GetFullTimeEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/GetFullTimeEmployee" message="tns:IManagerService_GetFullTimeEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/GetFullTimeEmployeeResponse" message="tns:IManagerService_GetFullTimeEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPartTimeEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/GetPartTimeEmployee" message="tns:IManagerService_GetPartTimeEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/GetPartTimeEmployeeResponse" message="tns:IManagerService_GetPartTimeEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/GetAllEmployees" message="tns:IManagerService_GetAllEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/GetAllEmployeesResponse" message="tns:IManagerService_GetAllEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/AddEmployee" message="tns:IManagerService_AddEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/AddEmployeeResponse" message="tns:IManagerService_AddEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/RemoveEmployee" message="tns:IManagerService_RemoveEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/RemoveEmployeeResponse" message="tns:IManagerService_RemoveEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/UpdateEmployee" message="tns:IManagerService_UpdateEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/UpdateEmployeeResponse" message="tns:IManagerService_UpdateEmployee_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IManagerService" type="tns:IManagerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFullTimeEmployee">
      <soap:operation soapAction="http://tempuri.org/IManagerService/GetFullTimeEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartTimeEmployee">
      <soap:operation soapAction="http://tempuri.org/IManagerService/GetPartTimeEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployees">
      <soap:operation soapAction="http://tempuri.org/IManagerService/GetAllEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmployee">
      <soap:operation soapAction="http://tempuri.org/IManagerService/AddEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveEmployee">
      <soap:operation soapAction="http://tempuri.org/IManagerService/RemoveEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <soap:operation soapAction="http://tempuri.org/IManagerService/UpdateEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManagerService">
    <wsdl:port name="BasicHttpBinding_IManagerService" binding="tns:BasicHttpBinding_IManagerService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Host/ManagerService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>