examples/WCFLesson05/WcfBindings/Client/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PrivatePublicService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IPrivateService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPublicService_GetPublicData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPublicData" />
  </wsdl:message>
  <wsdl:message name="IPublicService_GetPublicData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPublicDataResponse" />
  </wsdl:message>
  <wsdl:message name="IPrivateService_GetPrivateData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrivateData" />
  </wsdl:message>
  <wsdl:message name="IPrivateService_GetPrivateData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrivateDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IPublicService">
    <wsdl:operation name="GetPublicData">
      <wsdl:input wsaw:Action="http://tempuri.org/IPublicService/GetPublicData" message="tns:IPublicService_GetPublicData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPublicService/GetPublicDataResponse" message="tns:IPublicService_GetPublicData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IPrivateService">
    <wsdl:operation name="GetPrivateData">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrivateService/GetPrivateData" message="tns:IPrivateService_GetPrivateData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrivateService/GetPrivateDataResponse" message="tns:IPrivateService_GetPrivateData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPublicService" type="tns:IPublicService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPublicData">
      <soap:operation soapAction="http://tempuri.org/IPublicService/GetPublicData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IPrivateService" type="tns:IPrivateService">
    <wsp:PolicyReference URI="#NetTcpBinding_IPrivateService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetPrivateData">
      <soap12:operation soapAction="http://tempuri.org/IPrivateService/GetPrivateData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PrivatePublicService">
    <wsdl:port name="BasicHttpBinding_IPublicService" binding="tns:BasicHttpBinding_IPublicService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfBindings/PublicService" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IPrivateService" binding="tns:NetTcpBinding_IPrivateService">
      <soap12:address location="net.tcp://localhost:8743/Design_Time_Addresses/WcfBindings/PrivateService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8743/Design_Time_Addresses/WcfBindings/PrivateService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>student@itstep1.dp.ua</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>