HomeworkExamples/RemoteEditingFiles_Chesnokov/RemoteEditingFilesClient/Connected Services/RemoteEditingFilesServiceReference/RemoteEditingFilesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RemoteEditingFilesService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetHttpBinding_IRemoteEditingFilesService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1800/RemoteEditingFilesService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1800/RemoteEditingFilesService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1800/RemoteEditingFilesService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRemoteEditingFilesService_NewClientConnects_InputMessage">
    <wsdl:part name="parameters" element="tns:NewClientConnects" />
  </wsdl:message>
  <wsdl:message name="IRemoteEditingFilesService_ClientDisconnected_InputMessage">
    <wsdl:part name="parameters" element="tns:ClientDisconnected" />
  </wsdl:message>
  <wsdl:message name="IRemoteEditingFilesService_GetFilesList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilesList" />
  </wsdl:message>
  <wsdl:message name="IRemoteEditingFilesService_CreateNewFile_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewFile" />
  </wsdl:message>
  <wsdl:message name="IRemoteEditingFilesService_RemoveFile_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFile" />
  </wsdl:message>
  <wsdl:message name="IRemoteEditingFilesService_StartEditFile_InputMessage">
    <wsdl:part name="parameters" element="tns:StartEditFile" />
  </wsdl:message>
  <wsdl:message name="IRemoteEditingFilesService_EndEditFile_InputMessage">
    <wsdl:part name="parameters" element="tns:EndEditFile" />
  </wsdl:message>
  <wsdl:message name="IRemoteEditingFilesService_UpdateFileData_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFileData" />
  </wsdl:message>
  <wsdl:message name="IRemoteEditingFilesService_SendFilesList_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendFilesList" />
  </wsdl:message>
  <wsdl:message name="IRemoteEditingFilesService_SendResultCreateNewFile_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendResultCreateNewFile" />
  </wsdl:message>
  <wsdl:message name="IRemoteEditingFilesService_SendResultRemoveFile_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendResultRemoveFile" />
  </wsdl:message>
  <wsdl:message name="IRemoteEditingFilesService_SendDataFile_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendDataFile" />
  </wsdl:message>
  <wsdl:message name="IRemoteEditingFilesService_SetUserId_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SetUserId" />
  </wsdl:message>
  <wsdl:portType name="IRemoteEditingFilesService">
    <wsdl:operation name="NewClientConnects">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteEditingFilesService/NewClientConnects" message="tns:IRemoteEditingFilesService_NewClientConnects_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClientDisconnected">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteEditingFilesService/ClientDisconnected" message="tns:IRemoteEditingFilesService_ClientDisconnected_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFilesList">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteEditingFilesService/GetFilesList" message="tns:IRemoteEditingFilesService_GetFilesList_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteEditingFilesService/CreateNewFile" message="tns:IRemoteEditingFilesService_CreateNewFile_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteEditingFilesService/RemoveFile" message="tns:IRemoteEditingFilesService_RemoveFile_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartEditFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteEditingFilesService/StartEditFile" message="tns:IRemoteEditingFilesService_StartEditFile_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EndEditFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteEditingFilesService/EndEditFile" message="tns:IRemoteEditingFilesService_EndEditFile_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFileData">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteEditingFilesService/UpdateFileData" message="tns:IRemoteEditingFilesService_UpdateFileData_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendFilesList">
      <wsdl:output wsaw:Action="http://tempuri.org/IRemoteEditingFilesService/SendFilesList" message="tns:IRemoteEditingFilesService_SendFilesList_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendResultCreateNewFile">
      <wsdl:output wsaw:Action="http://tempuri.org/IRemoteEditingFilesService/SendResultCreateNewFile" message="tns:IRemoteEditingFilesService_SendResultCreateNewFile_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendResultRemoveFile">
      <wsdl:output wsaw:Action="http://tempuri.org/IRemoteEditingFilesService/SendResultRemoveFile" message="tns:IRemoteEditingFilesService_SendResultRemoveFile_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendDataFile">
      <wsdl:output wsaw:Action="http://tempuri.org/IRemoteEditingFilesService/SendDataFile" message="tns:IRemoteEditingFilesService_SendDataFile_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetUserId">
      <wsdl:output wsaw:Action="http://tempuri.org/IRemoteEditingFilesService/SetUserId" message="tns:IRemoteEditingFilesService_SetUserId_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetHttpBinding_IRemoteEditingFilesService" type="tns:IRemoteEditingFilesService">
    <wsp:PolicyReference URI="#NetHttpBinding_IRemoteEditingFilesService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/websocket" />
    <wsdl:operation name="NewClientConnects">
      <soap12:operation soapAction="http://tempuri.org/IRemoteEditingFilesService/NewClientConnects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ClientDisconnected">
      <soap12:operation soapAction="http://tempuri.org/IRemoteEditingFilesService/ClientDisconnected" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetFilesList">
      <soap12:operation soapAction="http://tempuri.org/IRemoteEditingFilesService/GetFilesList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CreateNewFile">
      <soap12:operation soapAction="http://tempuri.org/IRemoteEditingFilesService/CreateNewFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RemoveFile">
      <soap12:operation soapAction="http://tempuri.org/IRemoteEditingFilesService/RemoveFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="StartEditFile">
      <soap12:operation soapAction="http://tempuri.org/IRemoteEditingFilesService/StartEditFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="EndEditFile">
      <soap12:operation soapAction="http://tempuri.org/IRemoteEditingFilesService/EndEditFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UpdateFileData">
      <soap12:operation soapAction="http://tempuri.org/IRemoteEditingFilesService/UpdateFileData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendFilesList">
      <soap12:operation soapAction="http://tempuri.org/IRemoteEditingFilesService/SendFilesList" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendResultCreateNewFile">
      <soap12:operation soapAction="http://tempuri.org/IRemoteEditingFilesService/SendResultCreateNewFile" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendResultRemoveFile">
      <soap12:operation soapAction="http://tempuri.org/IRemoteEditingFilesService/SendResultRemoveFile" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendDataFile">
      <soap12:operation soapAction="http://tempuri.org/IRemoteEditingFilesService/SendDataFile" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserId">
      <soap12:operation soapAction="http://tempuri.org/IRemoteEditingFilesService/SetUserId" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RemoteEditingFilesService">
    <wsdl:port name="NetHttpBinding_IRemoteEditingFilesService" binding="tns:NetHttpBinding_IRemoteEditingFilesService">
      <soap12:address location="ws://localhost:1800/RemoteEditingFilesService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>ws://localhost:1800/RemoteEditingFilesService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>