HomeworkExamples/EmployeeService_Chesnokov/EmployeeAgencyApplication/Connected Services/EmployeesServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://itstep.dp.ua/employee" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/EmployeeService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployeeService_AddEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_AddEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_RemoveEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_RemoveEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_EditEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:EditEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_EditEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployees" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmployeeService">
    <wsdl:operation name="AddEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/AddEmployee" message="tns:IEmployeeService_AddEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/AddEmployeeResponse" message="tns:IEmployeeService_AddEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/RemoveEmployee" message="tns:IEmployeeService_RemoveEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/RemoveEmployeeResponse" message="tns:IEmployeeService_RemoveEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/EditEmployee" message="tns:IEmployeeService_EditEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/EditEmployeeResponse" message="tns:IEmployeeService_EditEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployees" message="tns:IEmployeeService_GetEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployeesResponse" message="tns:IEmployeeService_GetEmployees_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmployeeService" type="tns:IEmployeeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/AddEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/RemoveEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/EditEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployees">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/GetEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeService">
    <wsdl:port name="BasicHttpBinding_IEmployeeService" binding="tns:BasicHttpBinding_IEmployeeService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/EmployeeService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>